
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
}

.big{
    position: relative;  
    margin-bottom: 1.5vh;  
}

.photo{
    width: 17vw;
    height: 17vw;
    box-shadow: 0 0 2px 2px rgb(88, 84, 84);
}

.fa-star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    font-size: 80%;
    cursor: pointer;
}

.fa-star:hover{
    color: rgb(200, 200, 200);
}

.hidden{
    display: none;
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: 3%;
    background-color: transparent;
    width: 98%;
    height: 10%;
    cursor: auto;
    z-index: 1;
}

.big:hover .hidden{
    display: block;
    background-color: white;
}

@media (max-width: 640px){
    .site_title{
        display: none;
    }

    .menu_outside{
        font-size: 18px;
    }

    .big{
        margin-bottom: 0.5vh;  
    }
} 