*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.menu_outside{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color:rgb(131, 170, 234);
    color: white;
    text-transform: uppercase;    
    font-family: sans-serif;
    font-size: 14px;
}

.menu_inside{
    margin-left: 10px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    }

.info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100vw;
}

.left_side, .right_side{
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    }

.data{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 50px;
    width: 20px;
    margin-right: 10px;
}

.flex_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.title{
    text-transform: uppercase;
}

.title, .icon{
    color: rgb(131, 170, 234);
}

.title, .detail{
    margin-top: 3px;
    margin-bottom: 3px;
}

.detail{
    font-size: 16px;
    font-weight: 500;
    color: rgb(22, 22, 22);
}

p{
    text-align: center;
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media(max-width: 640px){
.info{
    margin-left: 5vw;
    justify-content: flex-start;
}

.detail{
    font-size: 14px;
}

}
